@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

.duration-300 {
    transition-duration: 300ms;
}

.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.scale-90 {
    transform: scale(.9);
}

.scale-100 {
    transform: scale(1);
}


.dir-rtl {
    direction: rtl;
}

.active {
    @apply bg-gradient-to-l from-blue-200 from-20% to-80%  text-blue-500 text-xl font-black border-l border-l-[3px] border-blue-400 ;
}
